<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.readmore.tonka.eshelvesnavdrawer" >

    <uses-permission android:name="android.permission.INTERNET" />
4
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.readmore.tonka.helpers.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.readmore.tonka.activities.PolicaDetailsActivity"
            android:label="@string/title_activity_polica_details" >
        </activity>
        <activity
            android:name="com.readmore.tonka.activities.KnjigaDetailsActivity"
            android:label="@string/title_activity_knjiga_details" >
        </activity>
        <activity
            android:name="com.readmore.tonka.activities.FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name="com.readmore.tonka.activities.ReviewDetailsActivity"
            android:label="@string/title_activity_review_details" >
        </activity>
        <activity
            android:name="com.readmore.tonka.activities.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>
