<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hci111.app.fit.ba</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hci111.app.fit.ba</MSDeployServiceURL>
    <DeployIisAppPath>hci111.app.fit.ba</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hci111</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=hci111.app.fit.ba,1433;Initial Catalog=eShelves;Integrated Security=False;User ID=koliko;Password=Gv4m3iqm" Name="Data Source=hci111.app.fit.ba,1433;Initial Catalog=eShelves;Integrated Security=False;User ID=koliko;Password=Gv4m3iqm;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="eShelvesAPI.DAL.MojContext, eShelvesAPI" MigrationConfiguration="eShelvesAPI.Migrations.Configuration, eShelvesAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="eShelvesEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eShelvesAPI.DAL.eShelvesEntities, eShelvesAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eShelvesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=hci111.app.fit.ba,1433;Initial Catalog=eShelves;Integrated Security=False;User ID=koliko;Password=Gv4m3iqm;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>